
.nav1{
    text-align: left; 
}
.controls{
    padding: 10px;
}
.lblgridsize{
    color: darkgrey;

}
.form-control{
    width: 100px;
}
.inp1{
    display: inline-block;
    padding: 0 10px;
}
